body {
  padding: 0;
  text-align: center;
<<<<<<< HEAD
=======
  margin:0;
>>>>>>> af4f1ca9283a1752cca6ec39bd202c6ef044ed98
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
<<<<<<< HEAD
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/road.png);
  background-size: cover;
  animation: slide 5s linear infinite;
=======
  padding: 10px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background.jpeg);
  background-size: cover;
   animation: slide 7s linear reverse infinite; 
>>>>>>> af4f1ca9283a1752cca6ec39bd202c6ef044ed98
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
<<<<<<< HEAD
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
=======
  
}

.logo-img {
  width: 240px;
  
  
}

.arrows-img {
  width: 123px;
}

body button {
  font-size: 32px;
  background-color: blue;
>>>>>>> af4f1ca9283a1752cca6ec39bd202c6ef044ed98
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
<<<<<<< HEAD
  margin-bottom: 20px;
}
=======
  margin-bottom: 0px;
} 
#score {
 color:blue;
}
#lives{
  color :blue;
}
>>>>>>> af4f1ca9283a1752cca6ec39bd202c6ef044ed98
